modify:
{
    match:
    {
		"origin" "-1064 -8576 744"
		"classname" "trigger_multiple"
		"hammerid" "92364"
		"wait" "0.01"
    }
		delete:
		{
			; Original value
			"OnTrigger" "clientcommand,Command,drop,0.01,-1"
		}
		insert:
		{
			"OnTrigger" "clientcommand,Command,drop,1,-1"
		}
		replace:
		{
			"wait" "1"
		}
}

modify:
{
    match:
    {
		"origin" "-1208 -8928 808"
		"classname" "trigger_multiple"
		"hammerid" "94215"
		"wait" "0.01"
    }
		delete:
		{
			; Original value
			"OnTrigger" "clientcommand,Command,drop,0.01,-1"
		}
		insert:
		{
			"OnTrigger" "clientcommand,Command,drop,1,-1"
		}
		replace:
		{
			"wait" "1"
		}
}

modify:
{
    match:
    {
		"origin" "-3336 -9472 424"
		"classname" "trigger_multiple"
		"hammerid" "100626"
		"wait" "0.01"
    }
		delete:
		{
			; Original value
			"OnTrigger" "clientcommand,Command,drop,0.01,-1"
		}
		insert:
		{
			"OnTrigger" "clientcommand,Command,drop,1,-1"
		}
		replace:
		{
			"wait" "1"
		}
}

modify:
{
    match:
    {
		"origin" "-3960 -13408 488"
		"classname" "trigger_multiple"
		"hammerid" "100648"
		"wait" "0.01"
    }
		delete:
		{
			; Original value
			"OnTrigger" "clientcommand,Command,drop,0.01,-1"
		}
		insert:
		{
			"OnTrigger" "clientcommand,Command,drop,1,-1"
		}
		replace:
		{
			"wait" "1"
		}
}

modify:
{
    match:
    {
		"origin" "-528 416 176"
		"classname" "trigger_multiple"
		"hammerid" "107681"
		"wait" "0.01"
    }
		delete:
		{
			; Original value
			"OnTrigger" "clientcommand,Command,drop,0.01,-1"
		}
		insert:
		{
			"OnTrigger" "clientcommand,Command,drop,1,-1"
		}
		replace:
		{
			"wait" "1"
		}
}

modify:
{
    match:
    {
		"origin" "-1136 -6664 616"
		"classname" "trigger_multiple"
		"hammerid" "109756"
		"wait" "0.01"
    }
		delete:
		{
			; Original value
			"OnTrigger" "clientcommand,Command,drop,0.01,-1"
		}
		insert:
		{
			"OnTrigger" "clientcommand,Command,drop,1,-1"
		}
		replace:
		{
			"wait" "1"
		}
}