modify:
{
    match:
    {
		"targetname" "door4"
		"classname" "func_movelinear"
		"hammerid" "641"
    }
	insert:
	{
		"OnFullyOpen" "!self,Close,0,0,-1"
	}
}

modify:
{
    match:
    {
		"targetname" "door3"
		"classname" "func_movelinear"
		"hammerid" "639"
    }
	insert:
	{
		"OnFullyOpen" "!self,Close,,0,-1"
	}
}

;modify:
;{
;    match:
;    {
;		"classname" "func_button"
;		"hammerid" "11477"
;    }
;	delete:
;	{
;		"OnPressed" "hurt1,Enable,,0,-1"
;	}
;}